@import "../../../../../constants/color.scss";

.bg-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bg-button {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, 50%);
  background-color: $black !important;
  color: $white !important;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  z-index: 1003;

  @media (max-width: 1500px) {
    transform: scale(0.7);
    bottom: -10%;
    right: 2%;
  }

  @media (max-width: 1190px) {
    transform: scale(0.5);
    bottom: -13%;
    right: 1%;
  }

  @media (max-width: 790px) {
    transform: scale(0.3);
    bottom: -21%;
    right: 1%;
  }
}
