@import "../../../../../constants/color.scss";

.date-task {
    &-container {
        margin: 10px 0px;

        h6 {
            color: $dark_blue;
        }
    }

    &-header-items {
        span {
            margin-right: 5px;
        }
        p {
            margin : 0px;
            font-weight: bold;
        }
    }
    &-no-task {
        width: 100%;
        color : $black;
        text-align: center;
    }
}
