@import '../../../constants/color.scss';

.sidebar-title-container {
    display: flex;
    justify-content: center;
    margin : 20px 0px;
    .sidebar-title {
        color : $dark_blue;
        font-size: 25px;
    }
}

.slider-container {
    background-color: $medium_blue;
    .ant-layout-sider-trigger {
        background-color: $dark_blue;
    }
    .ant-menu-item-selected {
        color : $dark_blue
    }
}

.logout-button {
    color : $dark_blue;
    background-color: $white;
    border: 1px solid $dark_blue;
    margin-top: 20px;
}

.logout-button:hover {
    color : $white !important;
    background-color: $dark_blue !important;
    border: none;
}