$text: #4a4a4a;
$subText: #666666;
$white: #ffffff;
$black: #000000;
$light_gray: #f4f4f4;
$dark_blue: #00cdff;
$medium_blue: #acefff;
$light_blue: #d4f7ff;
$light_white: #e6f4ff;
$dark_teal: #0B5365