.modal-custom {
    max-width: 500px; /* Điều chỉnh chiều ngang theo ý muốn */
    width: 100%; /* Đảm bảo modal sử dụng 100% chiều rộng của modal-dialog */
    // height: 500; /* Giữ chiều cao tự động */
    margin: auto; /* Căn giữa modal */
  }
  