@import '../../constants/color.scss';

.header-title {
  color: $dark_blue;
  width: 250px;
}

.header-container {
  padding: 10px 16px;
  background-color: $white;
}

.header-noti-button {
  color: $dark_blue;
  background-color: $white;
  border: 1px solid $dark_blue;
  margin: 0;
}

.header-noti-container {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

.header-noti-button:hover {
  color: $white !important;
  background-color: $dark_blue !important;
  border: none;
}

.header-tx-search {
  width: 600px;
}

.header-noti-not-read {
  position: absolute;
  color: #ffffff;
  top: -30%;
  right: -30%;
  font-size: 10px;
  font-weight: bold;
  background-color: #ff0000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}