@import "../../../../../constants/color.scss";

.group-small-comment {
  &-container {
    margin: 15px 0px;
    display: flex;
  }
  &-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  &-username {
    font-weight: bold;
  }
  &-info-container {
    background-color: $white;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 20px;
    p {
      margin: 0;
      padding: 0;
    }
  }
}
